@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans JP', sans-serif;
}

@media print {
  .no-print {
    display: none !important;
  }

  @page {
    size: A4 portrait;
    margin: 10mm;
  }

  body.print-landscape @page {
    size: A4 landscape;
  }
}
